<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/home-page.css">
</head>
<body>
<%- include('../includes/navbar.ejs') %>

<div class="container-fluid p-5 m-0" id="title">
    <div class="row">
        <div class="col-md-8">
            <h1 class="h2">Address Book</h1>
        </div>
        <div class="col-md-4">
            <a href="/add-address" class="btn btn-lg btn-secondary">Add new Address</a>
        </div>
    </div>
    <hr>
    <%- include("../includes/error-message.ejs") %>
    <%- include("../includes/success-message.ejs") %>
</div>

<div class="container my-5" id="products-section">
    <div class="row row-cols-1 row-cols-md-4 g-4 d-flex py-5 justify-content-center">
        <% if(addressBook.length === 0){ %>
            <div class="text-center p-5">
                <h1 class="h3">Nothing to show here!</h1>
            </div>
        <% }else{ %>
            <table class="table text-start w-50 mx-auto">
                <tbody>
                <% addressBook.forEach(address=>{ %>
                    <tr>
                        <td><%= address.apartment %>, <%= address.street %> <br> <%= address.city %>
                            , <%= address.state %>
                            , <%= address.country %>
                            - <%= address.zipCode %>
                        </td>
                        <td>

                            <a href="/edit-address/<%= address._id %>" class="btn btn-primary"><i
                                        class="fa-solid fa-pen-to-square"></i>
                            </a>

                        <td>
                            <form action="/delete-address" method="post">
                                <input type="hidden" name="addressID" value="<%= address._id %>">
                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    </tr>

                <% }); %>
                </tbody>
            </table>
        <% } %>
    </div>
</div>
<%- include('../includes/footer.ejs') %>
<%- include('../includes/js-imports.ejs') %>
</body>
</html>
